.login-back {
	/* 	color: #63498C; */
	/* 	background-color: #63498C; */
	/*background: url(../..//img/login-bak.jpg) repeat center center;*/
	 	/*background-image: linear-gradient(to bottom, #515577 0, #73589C 100%)*/
		background: linear-gradient(45deg, #5CBFAC, #26AE90, #47639E)
}

#container {
	/* 	margin-rigth: 5%; */

}

.titl {
	text-align: center;
	color: white !important;
}

.quote {
	color: white !important;
}

.navStyle {
  padding-top: 10px;
}

body {

-webkit-app-region : drag ;
-webkit-user-select: none;
background-color: #5CBFAC;
}

input {
  -webkit-app-region: no-drag;
}

a {
  -webkit-app-region: no-drag;
}
